body {
    font-family: Arial, sans-serif;
    background-color: #dbd9d9;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #c0c02d;
    color: black;
    padding: 10px;
    margin-bottom: 50px;
    text-align: center;
    display: none;
    width: 100%;
    &.showBar {
        display: block;
    }

    &.error{
        background-color: #ff3c00;
    }
}


.login-logo{
    margin: 0 35% 0 35%;
    width: 80px;
}

.login-container {
    background-color: #ececec;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
    width: 300px;

    .ForgotPassword, .backToLogin{
        font-size: 1rem;
        color: #555;
        font-weight: normal;
        text-decoration: none;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }

    .icon-container{
        background-color: #14436c;
        border-radius: 10px;
        display: flex;

        .toggle-password{
            cursor: pointer;
            width: 30px;
            padding: 10px;
        }
    }

    .icon-container .background-icon{
        display: flex;
        justify-content: center;
        background-color: #0e2f4c;
        border-radius: 10px 0 0 10px;
        width: 15%;
        padding: 10px;
        .icon{
            width: 30px;
        }
    }
}

.container{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1%;
}

.RememberMe{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;

    .Register{
        font-weight: bold;
        color: #000000;
    }

    label {
        margin: 10px 0 10px 0;
        color: #555;
    }

    input {
        font-size: 1.5rem;
        background-color: #14436c;
        color: #c2c2c2;
        width: 85%;
        padding: 10px;
        border: none;
        border-radius: 0 10px 10px 0;
    }

    input:focus {
        outline: none;
    }

    a, .Register{
        font-size: 1rem;
        font-weight: bold;
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .Register:hover{
        color: inherit;
        background-color: inherit;
    }

    button, .Continue {
        margin-top: 50px;
        padding: 10px;
        background-color: #ececec;
        color: #000000;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1.8rem;
    }

    .Continue{
        text-decoration: none;
        font-weight: normal;
    }

    button:hover, .Continue:hover {
        color: #ffffff;
        background-color: #c2c2c2;
    }
}