/* hoja de estilo en cascada, Selectores y especificad */

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

article {
    background-color: #81f7ff;
}

p, h1, span, section {
    font-size: 30px;
}

h1 {
    font-weight: bold;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.btn-main, .title, .main, .subtitle{
    color: #fff;
    background-color: darkolivegreen;
    font-weight: 700;
    border-radius:50%;
}
/* selecto decente */
/* article .txt{
    font-size: 10px;
} */

/* selectores de hijos: todos los hijos de article > p*/
article > p{
    font-size: 20px;
}
/* elijes sin necesidad de usar clases*/
input[type="text"]{
    background-color: blue;
}
/* ------------------------------------------ */

/* seudoclases */ /* cuando pasas el mause sobre el elemento */
button:hover{
    background-color: aquamarine;
}
/* p:first-child or p:last-child*/
article > p:nth-child(4){
    font-size: 50px;
}

/* hay jerarquía para los selectores en CSS entonces en este caso la clase es mayor al elemento "p" porque la clase tiene mayor jerarquía */
.txt {
    font-size:  20px;
}
/* selectores de elementos */
p{
    font-size: 10px;
} 

/* los selectores de Id, estos se usan con símbolo de "#", no es recomendable para usar estilos */
#txt-main{
    font-size:  5px;
}


/* 
TIPOS DE SELECTORES

Hay diferentes tipos de selectores

selector universal: selecciona todos los elementos en el sitio

*{
    color: #000;  
}

selector de Elemento: selecciona todos los elementos p
p{
    color: #999;
}

Selector de clase: selecciona todos los elementos con la clase "title"
.title{
    color: #fff;
}

selector ID: Selecciona todos los elementos con el ID "form"
#form{
    color: #999
}

selector Descendente: selecciona todos los <p> que estén dentro <div>
div p{
    color: #fff;
}

selector de hijos: selecciona todos los <p> que sean hijos directos de <div>
div > p{
    color: #999
}

selector de atributo: Selecciona todos los <input> que su atributo type sea igual a text
input[type="text"]{
    color:#fff;
}


Especificidad:

Estilos en Línea -> ID -> Clases, atributos y pseudos-clases -> Elementos
Mayor Especialidad --------------------> Menor Especialidad
*/