/* propiedades de texto*/
div{
    color: white;
}

body{
    background-color: goldenrod;
}

p{
    color: #EFA61F;
    background-color:blanchedalmond;
}

span{
    color: green;
}

 p{
    font-family: 'Crimson Text', serif;
    text-align: justify;
    letter-spacing: 0.3px;
    text-decoration: none;
    text-transform: lowercase;
    line-height: 1; /*espacio entre lineas*/
    word-spacing: 20px;
    text-shadow: 10px 10px 15px #000;
}

a{
    text-decoration: none;
} 




