body {
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    display: flex;
    padding: 10px 40px;
    box-sizing: border-box;
    justify-content: space-between;
}

.header__logo{
    width: 200px;
}

.header__menu {
    display: flex;
    gap: 50px;
}

.header__nav{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.header_link{
    font-size: .9rem;
    font-weight: 700;
}

.header__user{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.header__icon{
    cursor: pointer;
}

.header__icon--secundary{
    opacity: .6;
    color: lightblue;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 30px auto 0;
    gap: 30px 20px;
}

.product__img{
    width: 100%;
}

.product__title{
    font-size: .7rem;
    font-weight: 600;
    margin: 10px 0; 
}

.product__btn{
    display: block;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
}

.product__btn--disable{
    background-color: #999;
}