.main-button{
    @extend %button;
    background-color: chartreuse;
}

.secundary-button{
    @extend %button;
    background-color: dimgray;
}

main{
    article{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        @include shadowContainer(10px,yellow,blue);
        
        &:first-child{
            @include shadowContainer(10px,green,red);
        }

        &.mixin{
            @include shadowContainer(10px,rgb(144,199,255) , $main-color);
        }

        &.three{
            @include shadowContainer(10px,rgb(0, 9, 128),rgb(204, 0, 255));
        }
    }
}