body{
    font-family: $fontFamily;
}

body, html, p, a{
    margin: 0;
}

header{
    @include flexbox;
    background-color: $gray;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;

    img{
        width: 120px;
    }

    nav{
        @include flexbox;
        gap: 10px;

        @include laptops{
            display: none;
        }

        a{
            font-weight: 500;
            font-size: 1rem;
            @extend %link;
        }
    }

    article{
        @include flexbox;
        .header__icon{
            color: $White;
            cursor: pointer;
            transition: all .2s ease;
            &:hover{
                transform: scale(1.1);
            }
            gap: 10px;

            &:last-child{
                @include avatar(50px,$type:circle)
            }
        }

        i{
            &:last-child{
                @include avatar(50px,$type:circle)
            }
        }
    }
}



footer{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: $main-color;
    @include flexbox;
    @include phones {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    

    article{
        img {
            width: 80px;
        }

        nav{
            display: flex;
            flex-direction: column;
            gap: 10px;

            @include tablets{
                flex-direction: row;
            }

            @include phones {
                flex-direction: column;
            }
            
            a{
                @extend %link;
            }
        }

        > a {
            display: block;
            @extend %link;
        }
    }
}