$main-color: rgb(7, 72, 7);
$fontFamily: "Poppins",Arial, Helvetica, sans-serif;
$White: rgb(218, 215, 215);
//son como variables de bloques completos de css, 
//se usa para funcionalidades a lo largo de la aplicación
@mixin flexbox{
    display: flex;
    justify-content: space-between;
}

@mixin shadowContainer($blur, $shadowColor, $bgColor){
    box-shadow: 0px 0px $blur $shadowColor;
    padding: 10px;
    border-radius: 15px;
    background-color: $bgColor;
}

//solo pueden ser utilizadas cuando se extienden sus propiedades
%link{
    text-decoration: none;
    color: $White;
}

%button{
    display: block;
    border: none;
    border-radius: 30px;
    color: $White;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    font-weight: 600;
}

body{
    font-family: $fontFamily;
    font-weight: 600;
}

main{
    article{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        @include shadowContainer(10px,yellow,blue);

        .main-button{
            @extend %button;
            background-color: chartreuse;
        }

        .secundary-button{
            @extend %button;
            background-color: dimgray;
        }

        
        &:first-child{
            @include shadowContainer(10px,green,red);
        }

        &.mixin{
            @include shadowContainer(10px,rgb(144,199,255) , $main-color);
        }

        &.three{
            @include shadowContainer(10px,rgb(0, 9, 128),rgb(204, 0, 255));
        }
    }
}

footer{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: $main-color;
    @include flexbox;

    article{
        img {
            width: 80px;
        }

        nav{
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            a{
                @extend %link;
            }
        }

        > a {
            display: block;
            @extend %link;
        }
    }
}