body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

header {
    padding: 10px;
    background-color: rgb(228, 252, 236);
    font-size: 1.4rem;
}

main {
    /*display: grid;
    grid-template-columns: 2fr 1fr;*/
    display: flex;
    flex-direction: row;
}

article {
    background-color: rgb(255, 255, 235);
}
/* esto nos indica una abreviatura flex gow: va a crecer al tamaño de la pantalla,
flex shrink: se va hacer pequeña a la proporción de la pantalla y 
flex basics: se va hacer proporcional al tamaño de la pantalla */
main article {
    flex: 2;
}

main aside {
    flex: 1;
}

aside {
    background-color: rgb(255, 230, 230);
}

article, aside {
    padding: 10px;
    margin: 10px;
}

footer {
    padding: 10px;
    background-color: rgb(235, 248, 255);
}
/* em es proportcional al font size */
@media screen and (max-with: 50em) {
    main {
        /*display: grid;
        grid-template-columns: 1fr;*/
        flex-direction: column;
    }

    main article, main aside {
        flex: 1;
    }
}