/* media query, media type que regla de le va aplicar print: cuando nosotros imprimimos en el navegador, 
screen: las pantallas cuando se esta visualizando all: es a ambos
son reglas de cuando excede lo limita a ciertos px*/
div {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    background-color: #90ee90;
}

div p{
    font-size: 15px;
    text-align: right;
    line-height: 3;
}

@media screen and (max-with:  768px) /* and (min-with: 700px )*/ {
    div {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        background-color: #ff6347;
    }

    p {
        font-size: 10px;
        text-align: center;
        line-height: 1;
    }
}